In [1]:
import pandas as pd
import sqlite3

Загрузить данные из SQL базы можно с помощью функции pd.read_sql, которая автоматически преобразует столбцы SQL в столбцы DataFrame.

read_sql принимает 2 аргумента: запрос SELECT, и connection. Это означает, что можно читать из любого вида базы данных - неважно, MySQL, SQLite, PostgreSQL, или др.

In [4]:
con = sqlite3.connect(r'c:\Users\1cons\Python-projects\other\weather_2012.sqlite')
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con)
df

   id            date_time  temp
0   1  2012-01-01 00:00:00  -1.8
1   2  2012-01-01 01:00:00  -1.8
2   3  2012-01-01 02:00:00  -1.8

read_sql не устанавливает первичный ключ (id) в качестве индекса. Можно это сделать вручную, добавив аргумент index_col

In [5]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, index_col='id')
df

              date_time  temp
id
1   2012-01-01 00:00:00  -1.8
2   2012-01-01 01:00:00  -1.8
3   2012-01-01 02:00:00  -1.8

dataframe может быть индексирован несколькими столбцами, в index_col можно указать их список

In [6]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, 
                 index_col=['id', 'date_time'])
df

                        temp
id date_time
1  2012-01-01 00:00:00  -1.8
2  2012-01-01 01:00:00  -1.8
3  2012-01-01 02:00:00  -1.8

Запись в базу производится с помощью метода to_sql

In [7]:
weather_df = pd.read_csv(r'c:\Users\1cons\Python-projects\other\weather_2012.csv')
con = sqlite3.connect(r'c:\Users\1cons\Python-projects\other\test_db.sqlite')
con.execute("DROP TABLE IF EXISTS weather_2012")
weather_df.to_sql("weather_2012", con)

C:\Users\1cons\anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Теперь мы можем загрузить записанные данные

In [9]:
con = sqlite3.connect(r'c:\Users\1cons\Python-projects\other\test_db.sqlite')
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

Главным преимуществом хранения данных в базе является возможность напрямую делать SQL запросы. Например, можно отсортировать по колонке 'Weather' с помощью лишь SQL:

In [10]:
con = sqlite3.connect(r'c:\Users\1cons\Python-projects\other\test_db.sqlite')
df = pd.read_sql("SELECT * from weather_2012 ORDER BY Weather LIMIT 3", con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25.0,101.74,Clear
1,114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,Clear
2,115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,Clear

Для подключения к MySQL:

In [ ]:
import MySQLdb
con = MySQLdb.connect(host="localhost", db="test")

PostgreSQL:

In [ ]:
import psycopg2
con = psycopg2.connect(host="localhost")