Базовые функции pandas на примере набора данных «Iris», способы нормализации числовых значений и визуализации данных.

Датасет является набором для мультиклассовой классификации, предоставленный Рональдом Фишером в 1936 году для демонстрации разработанного им метода дискретного анализа.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris

In [3]:
dataset = load_iris()
dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

Перечислим термины, которые далее будем использовать:

    класс — определенная метка, к которому мы будем относить набор
    признак — названия «полей» набора

Вот что значат данные метки:

    data — двумерный массив с наборами чисел
    target_names — названия классов, между которыми мы распределяем наборы
    target — одномерный массив с числовыми значениями меток классов
    feature_names — массив с названиями признаков
    DESCR(description) — описание набора. Очень рекомендуется к прочтению.

In [8]:
df = pd.DataFrame(dataset['data'], columns=dataset['feature_names'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [9]:
df['class'] = dataset['target']
df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [10]:
df['class'].value_counts()

2    50
1    50
0    50
Name: class, dtype: int64