In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1371,tt0408306,70000000,130358911,Munich,Eric Bana|Daniel Craig|CiarÃ¡n Hinds|Mathieu K...,Steven Spielberg,The world was watching in 1972 as 11 Israeli a...,"During the 1972 Olympic Games in Munich, eleve...",164,Drama|Action|History|Thriller,DreamWorks SKG|Universal Pictures|Amblin Enter...,12/22/2005,6.7,2005
1723,tt0477071,20000000,84146832,Premonition,Sandra Bullock|Julian McMahon|Courtney Taylor ...,Mennan Yapo,Reality is only a nightmare away,A depressed housewife who learns her husband w...,110,Fantasy|Drama|Mystery,TriStar Pictures|Hyde Park Films|Offspring Ent...,2/8/2007,5.9,2007
359,tt0458525,150000000,341131793,X-Men Origins: Wolverine,Hugh Jackman|Liev Schreiber|Danny Huston|Lynn ...,Gavin Hood,Witness the Origin.,"After seeking to live a normal life, Logan set...",107,Adventure|Action|Thriller|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,4/28/2009,6.2,2009
253,tt0808151,150000000,356613439,Angels & Demons,Tom Hanks|Ewan McGregor|Ayelet Zurer|Stellan S...,Ron Howard,The holiest event of our time. Perfect for the...,Harvard symbologist Robert Langdon investigate...,138,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Panora...,5/13/2009,6.3,2009
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
#Все ответы верные 27/27

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

#Вычислим профит фильма для дальнейшего использования
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [7]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [8]:
data1 = pd.read_csv('movie_bd_v5.csv')
data1.groupby(['original_title'])['budget'].max().sort_values(ascending=False)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1887, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data2 = pd.read_csv('movie_bd_v5.csv')
data2.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Valiant                                           76
Home on the Range                                 76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data3 = pd.read_csv('movie_bd_v5.csv')
data3.groupby(['original_title'])['runtime'].min().sort_values()

original_title
Winnie the Pooh                                   63
Return to Never Land                              72
The Jungle Book 2                                 72
Home on the Range                                 76
Valiant                                           76
                                                ...
Pearl Harbor                                     183
King Kong                                        187
Grindhouse                                       191
The Lord of the Rings: The Return of the King    201
Gods and Generals                                214
Name: runtime, Length: 1887, dtype: int64

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

In [18]:
data.groupby(['original_title'])['profit'].max().sort_values(ascending=False)

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
                                   ...
Flushed Away                     -84540684
The Adventures of Pluto Nash     -92896027
Mars Needs Moms                 -111007242
The Alamo                       -119180039
The Lone Ranger                 -165710090
Name: profit, Length: 1887, dtype: int64

Вариант 2

In [19]:
data.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [21]:
data.groupby(['original_title'])['profit'].min().sort_values()

original_title
The Lone Ranger                 -165710090
The Alamo                       -119180039
Mars Needs Moms                 -111007242
The Adventures of Pluto Nash     -92896027
Flushed Away                     -84540684
                                   ...
The Avengers                    1299557910
Furious 7                       1316249360
Jurassic World                  1363528810
Star Wars: The Force Awakens    1868178225
Avatar                          2544505847
Name: profit, Length: 1887, dtype: int64

второй вариант

In [22]:
data.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1. 1478'

In [24]:
len(data[data['revenue']>data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [26]:
data[data['release_year'] == 2008].sort_values(['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [28]:
data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = '3. Drama'

In [30]:
gen_count = []
for i in data['genres']:
    gen_count.append(i.split(sep='|'))
c = Counter(gen for gen_list in gen_count for gen in gen_list)
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'

In [32]:
profit_genres = []
for j in data['profit']:
    if j>0:
        for i in data['genres']:
            profit_genres.append(i.split(sep='|'))
pg = Counter(gen for gen_list in profit_genres for gen in gen_list)
print(pg)

Counter({'Drama': 1155796, 'Comedy': 1009474, 'Thriller': 880888, 'Action': 860196, 'Adventure': 613370, 'Crime': 465570, 'Romance': 455224, 'Family': 384280, 'Science Fiction': 366544, 'Fantasy': 328116, 'Horror': 260128, 'Mystery': 248304, 'Animation': 205442, 'Music': 94592, 'History': 91636, 'War': 85724, 'Western': 28082, 'Documentary': 11824, 'Foreign': 2956})

In [33]:
#Да долго, но пришел к такому решению. Увижу другие варианты - разберусь

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = '5. Peter Jackson'

In [35]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head()

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez'

In [37]:
data14 = pd.read_csv('movie_bd_v5.csv')
data14['genres'] = data14['genres'].str.split('|')
data14['director'] = data14['director'].str.split('|')
data14 = data14.explode('genres')
data14 = data14.explode('director')
data14[data14['genres'] == 'Action'].groupby(['director'])['genres'].count().sort_values(ascending=False).head()

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [39]:
data15 = pd.read_csv('movie_bd_v5.csv')
data15['cast'] = data15['cast'].str.split('|')
data15_cast = data15.explode('cast')
data15_cast[data15_cast['release_year'] == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [41]:
data16 = data15_cast.copy() #Берем с прошлого вопроса уже разбитый по актёрам фрейм
data16[data16['budget'] > data16['budget'].mean()].groupby(['cast'])['cast'].count().sort_values(ascending=False).head()

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'

In [43]:
data17 = pd.read_csv('movie_bd_v5.csv')
data17['genres'] = data17['genres'].str.split('|')
data17['cast'] = data17['cast'].str.split('|')
data17 = data17.explode('genres')
data17 = data17.explode('cast')
data17[data17['cast'] == 'Nicolas Cage'].groupby(['genres'])['cast'].count().sort_values(ascending=False).head()

genres
Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: cast, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [45]:
data18 = pd.read_csv('movie_bd_v5.csv')
data18['production_companies'] = data18['production_companies'].str.split('|')
data18 = data18.explode('production_companies')
data18['profit'] = data['profit']
data18[data18['production_companies'] == 'Paramount Pictures'].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
data20 = pd.read_csv('movie_bd_v5.csv')
data20['production_companies'] = data20['production_companies'].str.split('|')
data20 = data20.explode('production_companies')
data20[data20['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [51]:
data21 = pd.read_csv('movie_bd_v5.csv')
data21['release_date'] = data21['release_date'].str.split('/')
month = []
for i in data21['release_date']:
    month.append(i[0])
c = Counter(month)    
print(c)

Counter({'9': 227, '12': 190, '10': 186, '8': 161, '3': 156, '4': 149, '6': 147, '11': 146, '7': 142, '5': 140, '2': 135, '1': 110})

In [52]:
#Без заморочек с преобразование даты. Показалось более простым решением (PEP8 одобряет)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '2. 450'

In [54]:
summer = c['6']+ c['7']+ c['8']
print(summer)

450

In [55]:
#Данные посчитаны в предыдущем вопросе. Суммируем нужное...

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = '5. Peter Jackson'

In [57]:
data23 = pd.read_csv('movie_bd_v5.csv')
data23['director'] = data23['director'].str.split('|')
data23 = data23.explode('director')
data23['release_date'] = data23['release_date'].str.split('/')
month = []
for i in data23['release_date']:
    month.append(i[0])
data23['month'] = month
data23[data23['month'].isin(['1', '2', '12'])].groupby(['director'])['month'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: month, Length: 358, dtype: int64

In [58]:
#По аналогии  - считаем месяцы релиза для каждого режиссера. В итоге выводим по интересующим месяцам...

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = '5. Four By Two Productions'

In [60]:
data24 = pd.read_csv('movie_bd_v5.csv')
data24['production_companies'] = data24['production_companies'].str.split('|')
data24 = data24.explode('production_companies')
data24['title_len'] = data24['original_title'].apply(len)
data24.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False).head()

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25'] = '3. Midnight Picture Show'

In [62]:
data25 = pd.read_csv('movie_bd_v5.csv')
data25['production_companies'] = data25['production_companies'].str.split('|')
data25 = data25.explode('production_companies')
data25['overview_len'] = data25['overview'].apply(len)
data25.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending=False).head()

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [64]:
data26 = pd.read_csv('movie_bd_v5.csv')
top_rate = np.quantile(data26['vote_average'], 0.99)
display(top_rate)
data26[data26['vote_average'] >= top_rate].groupby(['original_title'])['vote_average'].sum().sort_values(ascending=False)

7.8

original_title
The Dark Knight                                      8.1
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Imitation Game                                   8.0
Gone Girl                                            7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Guardians of the Galaxy                              7.9
12 Years a Slave                                     7.9
Inception                                            7.9
The Lord of the Rings: The Return of the King        7.9
The Pianist                                          7.9
The Grand Budapest Hotel                             7.9
Eternal Sunshine of the Spotless Mind                7.8
Dallas Buyers Club                                   7.8
Her                                                  7.8
Big Hero 6                                           7.8
3 Idiots                                             7.8
There Will Be Blood                                  7.8
Mr. Nobody                                           7.8
Spotlight                                            7.8
The Fault in Our Stars                               7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
The Lord of the Rings: The Two Towers                7.8
The Prestige                                         7.8
The Theory of Everything                             7.8
Prisoners                                            7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [66]:
from itertools import combinations
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data27['combinations'] = data27['cast'].apply(lambda r: list(combinations(r, 2)))
data27 = data27.explode('combinations')
data27.groupby(['combinations'])['combinations'].count().sort_values(ascending=False)

combinations
(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Matthew McConaughey, Rene Russo)           1
(Matthew McConaughey, Reese Witherspoon)    1
(Matthew McConaughey, Powers Boothe)        1
(Matthew McConaughey, PenÃ©lope Cruz)       1
(50 Cent, Adewale Akinnuoye-Agbaje)         1
Name: combinations, Length: 18121, dtype: int64

In [67]:
#Easy...

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27